* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-top-section {
}

.clearFix {
    clear: both;;

}

.header-wrapper {
    background: rgb(51, 51, 51);;
}

.logo-wapper {
    display: inline-block;
    float: left;
    width: 20%;
    padding: 10px;
}

.icons-wrapper {
    float: right;
}

.icons-wrapper i {
    font-size: 27px;
    margin: 15px 12px;
    color: #eee;
}

.scened-section-wrapper {
    padding: 10px 80px;
    /*background: white;*/
}


.text-wrapper {
    width: 40%;
    float: left;
}

.discount-text {
    background: rgba(0, 0, 0, 0.53);
    width: 70%;
    margin: 0 auto;
    padding: 8px 4px;
    border-radius: 7px;
    color: #eeeeee;
    font-size: 13px;
}

.discount-text span {
    color: #1b1b1b;
    background: #ffee00;
    padding: 2px 4px;
    margin-right: 7px;
    border-radius: 7px;
}
